{{ 'image-banner-new.css' |  asset_url |  stylesheet_tag }}


<div class="banner__wrapper">
  {% comment %} <div class="banner__img-wrapper">
    
    {{ section.settings.banner_image | image_url: width: section.settings.image.width | image_tag: sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: "banner__img" }}
  </div> {% endcomment %}
  <div class="banner-info__wrapper">
    {% assign image_carousel_started = false %}
    {% assign image_carousel_closed = false %}

    {% for block in section.blocks %}
      {% if block.type == 'image_carousel' and image_carousel_started == false %}
        <div class="swiper mySwiper mySwiper-{{ section.id }}">
        <div class="banner__review-image-carousel swiper-wrapper">
        {% assign image_carousel_started = true %}
      {% endif %}

      {% if block.type != 'image_carousel' and image_carousel_started == true and image_carousel_closed == false %}
        </div>
        {% assign image_carousel_closed = true %}
      {% endif %}
      {% case block.type %} 
        {% when 'reviews' %}
          <div class="banner__review-wrapper">
            <div class="review-star__wrapper">
              {%  render 'icon-star' %}
              {%  render 'icon-star' %}
              {%  render 'icon-star' %}
              {%  render 'icon-star' %}
              {%  render 'icon-star' %}
            </div>
            <span class="banner__review-text">{{ block.settings.review-text }}</span>
          </div>
        {% when 'heading' %}
          <h1 class="banner__heading poppins-black">{{ block.settings.heading }}</h1>
        {% when 'subheading' %}
          <h3 class="banner__subheading poppins-extrabold" 
              style="color: {{ block.settings.subheading_color }};
              background-color: {{ block.settings.background_color }};
              "
          >
            {{ block.settings.subheading }}
          </h3>
        {% when 'image_carousel' %}
          {% comment %} {% if image_carousel_started == false %}
            <div class="banner__review-image-carousel">
            {% assign image_carousel_started = true %}
          {% endif %} {% endcomment %}
            <div class="banner__review-img-wrapper swiper-slide">
              <img src="{{ block.settings.image |  img_url: 'medium' }}" class="banner__review-img" >
            </div>
          
      {% endcase %}
    {% endfor %}
    {% if image_carousel_started and image_carousel_closed == false %}
      </div>
    {% endif %}
  </div>

</div>


<script>
document.addEventListener('DOMContentLoaded', () => {
  const id = {{ section.id }};

  const swiperClass = `.mySwiper-${id}`;

  let swiper = new Swiper(swiperClass, {
    grabCursor: true,
    initialSlide: 2,
    centeredSlides: true,
  });

});


</script>




{%  schema  %} 
{
  "name": "Bundle Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Background Image"
    }
  ],
  "blocks": [
    {
      "type": "reviews",
      "name": "Reviews",
      "settings": [
        {
          "type": "text",
          "id": "review-text",
          "label": "Text",
          "default": "Review Text"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Text",
          "default": "Heading"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "Text",
          "default": "Subheading"
        },
        {
          "type": "color",
          "id": "subheading_color",
          "label": "Text Color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color",
          "default": "#ffffff"
        }
      ]
    },
    {
      "type": "image_carousel",
      "name": "Carousel Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Bundle Banner"
    }
  ]
}

{% endschema %} 