{{ 'section-review-auto.css' | asset_url | stylesheet_tag }}

<div class="review-auto__wrapper">
  <div class="review-auto__header">
    <h1 class="review-auto__title poppins-black">{{ section.settings.title }}</h1>
    <p class="review-auto__description poppins-regular">{{ section.settings.description }}</p>
  </div>
  <div class="swiper mySwiper mySwiper-{{ section.id }}">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'review_card' %}
            <div class="review-auto__card">
              <div class="review-auto__img-wrapper">
                <img src="{{ block.settings.image |  img_url: 'medium' }}" class="review-auto__img">
              </div>
              <div class="review-auto__info">
                <div class="review-auto__star-wrapper">
                  {% render 'icon-star' %}
                  {% render 'icon-star' %}
                  {% render 'icon-star' %}
                  {% render 'icon-star' %}
                  {% render 'icon-star' %}
                </div>
                <p class="review-auto__description">{{ block.settings.description }}</p>
                <div class="review-auto__customer-name-wrapper">
                  <span class=""></span>
                  <span></span>
                </div>
              </div>
            </div>
        {% endcase %}

      {% endfor %}
    </div>

  </div>

</div>


{% schema %}
  {
    "name": "Review Autoplay",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Header",
        "default": "Header"
      }, {
        "type": "text",
        "id": "description",
        "label": "Paragraph",
        "default": "Lorem ipsum dolor sit amet"
      }
    ],
    "blocks": [
      {
        "type": "review_card",
        "name": "Review Card",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "name",
            "label": "Name",
            "default": "Name"
          }, {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Lorem ipsum dolor sit amet"
          }

        ]
      }
    ],
    "presets": [
      {
        "name": "Review Autoplay"
      }
    ]
  }
{% endschema %}